<!DOCTYPE html>
<html>
<head>
    <title>FastAPI SAML SSO Demo</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>FastAPI SAML SSO with Okta</h1>
    <p>This is a demo application showing SAML Single Sign-On integration with Okta.</p>
    
    <div class="info">
        <strong>Setup Instructions:</strong>
        <ol>
            <li>Update SAML_SETTINGS in the code with your Okta values</li>
            <li>In Okta, set Single sign-on URL to: <code>http://localhost:8000{{ root_path }}/saml/acs</code></li>
            <li>In Okta, set Audience URI to: <code>http://localhost:8000{{ root_path }}/saml/metadata</code></li>
            <li>Click the login button below to test</li>
        </ol>
    </div>

    <a href="{{ root_path }}/saml/login" class="button">Login with Okta SSO</a>
    
    <h3>Available Endpoints:</h3>
    <ul>
        <li><strong>GET {{ root_path }}/saml/login</strong> - Initiate SSO login</li>
        <li><strong>GET {{ root_path }}/saml/logout</strong> - Initiate SSO logout</li>
        <li><strong>POST {{ root_path }}/saml/acs</strong> - Assertion Consumer Service (callback from Okta)</li>
        <li><strong>GET {{ root_path }}/saml/metadata</strong> - Service Provider metadata</li>
        <li><strong>GET {{ root_path }}/saml/sls</strong> - Single Logout Service</li>
        <li><strong>GET {{ root_path }}/protected</strong> - Example protected route</li>
    </ul>

</body>
</html>